<script lang="ts" setup>
import { ref } from "vue";
const num = ref(0);
</script>

<template>
  <v-container>
    <v-row>
      <div>
        <br />
        <v-text-field
          label="Please input Number"
          v-model.number="num"
          style="height: 100px; width: 1000px"
          :rules="[(v) => !!v || 'Number is not empty']"
        ></v-text-field>
      </div>
    </v-row>
    <v-row>
      <v-col v-for="i in num" :key="i" cols="1">{{ i }}</v-col>
    </v-row>
  </v-container>
</template>
