<script lang="ts" setup>
import { ref } from "vue";
const emotionName = ref("Smile");
const imgs = ref("../../feeling_imgs/smile.png");
// function toggleColor() {
//   color.value = color.value === "yellow" ? "grey" : "yellow";
// }
function feeling(img: string) {
  imgs.value = img;
}
function changeText(emotionalNames: string) {
  emotionName.value = emotionalNames;
}
</script>
<template>
  <v-container>
    <v-row>
      <v-col cols="6">
        <v-img height="400px" width="400px" :src="imgs"></v-img>
      </v-col>

      <v-col cols="6">
        <v-row>
          <v-col class="text-center text-h3 font-weight-bold"
            >{{ emotionName }}
          </v-col>
        </v-row>
        <v-row>
          <v-btn
            block
            @click="
              feeling('../../feeling_imgs/angry.png'), changeText('ANGRY')
            "
            :color="emotionName === 'ANGRY' ? 'yellow' : 'white'"
            >Angry</v-btn
          >
        </v-row>
        <v-row>
          <v-btn
            block
            @click="feeling('../../feeling_imgs/cute.png'), changeText('CUTE')"
            :color="emotionName === 'CUTE' ? 'yellow' : 'white'"
            >Cute</v-btn
          >
        </v-row>
        <v-row>
          <v-btn
            block
            @click="
              feeling('../../feeling_imgs/excited.png'), changeText('EXCITED')
            "
            :color="emotionName === 'EXCITED' ? 'yellow' : 'white'"
            >Excited</v-btn
          >
        </v-row>
        <v-row>
          <v-btn
            block
            @click="feeling('../../feeling_imgs/pain.png'), changeText('PAIN')"
            :color="emotionName === 'PAIN' ? 'yellow' : 'white'"
            >pain</v-btn
          >
        </v-row>
        <v-row>
          <v-btn
            block
            @click="
              feeling('../../feeling_imgs/shocked.png'), changeText('SHOCKED')
            "
            :color="emotionName === 'SHOCKED' ? 'yellow' : 'white'"
            >Shocked</v-btn
          >
        </v-row>
        <v-row>
          <v-btn
            block
            @click="
              feeling('../../feeling_imgs/smile.png'), changeText('SMILE')
            "
            :color="emotionName === 'SMILE' ? 'yellow' : 'white'"
            >Smile</v-btn
          >
        </v-row>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped></style>
