<script setup lang="ts">
import { ref } from "vue";
import FirstComponent from "@/components/FirstComponent.vue";
import SecondComponent from "@/components/SecondComponent.vue";
import { useCounterStore } from "@/stores/counter";
const counterStore = useCounterStore();


// const num1 = ref(0);
// const num2 = ref(0);
// function decrement(){
//   if (num1.value > 0 && num2.value > 0) {
//     num1.value = num1.value - 1;
//     num2.value = num2.value - 2;
//   }

</script>
<template>
  <v-container>
    <v-row class="ma-5">
      <v-col cols="6">
        <FirstComponent></FirstComponent>
        <v-btn @click="counterStore.increment">INCREASEMENT</v-btn>
        <!-- <v-row> {{ num1 }}</v-row>
        <v-row>
          <v-btn @click="num1 = 1+count++,num2 = num1*2">Increment</v-btn>
        </v-row> -->
      </v-col>

      <v-col cols="6">
        <SecondComponent></SecondComponent>
        <v-row>
          <!-- <v-btn @click="decrement">Decrement</v-btn> -->
        </v-row>
      </v-col>
    </v-row>
  </v-container>
</template>
