<script setup lang="ts">
import { useCounterStore } from "@/stores/counter";
const countStore = useCounterStore();
</script>
<template>
  <div>Second Component</div>
  <div>{{ countStore.doubleCount }}</div>
  <v-btn @click="countStore.decrement">DECREASE</v-btn>
</template>
